---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  image: ImageMetadata;
  class?: string;
  actionText?: string;
  actionLink?: string;
}

const { title, image, actionText, actionLink, class: className } =
  Astro.props;
---

<div class:list={[
  "w-60 grid gap-2",
  className
]}>
  <picture>
    <Image src={image} alt={title} class="w-60 aspect-square object-cover" />
  </picture>
  <div class="m-2 space-y-5">
    <h2 class="text-black text-xl font-bold text-center uppercase font-poppins">
      {title}
    </h2>
    <div class="font-poppins text-base text-pretty text-justify space-y-4">
      <slot/>
    </div>
  </div>
    {
      actionText && actionLink && (
        <a href={actionLink} class="font-poppins text-base">
          <button
            class="bg-main text-white w-full py-2 hover:shadow-md"
          >
            {actionText}
          </button>
        </a>
      )
    }
</div>
